[Desktop Entry]
Name=Tweelectron
Comment=TweetDeck Client for Desktop
Exec=/usr/share/tweelectron/Tweelectron
Terminal=false
Icon=/usr/share/tweelectron/tweelectron.png
Type=Application
Categories=Network
StartupNotify=false
StartupWMClass=tweelectron
Name[en_US]=tweelectron
