[Desktop Entry]
Name=Tweelectron
Comment=TweetDeck Client for Desktop
Exec=Tweelectron
Terminal=false
Icon=tweelectron
Type=Application
Categories=Network;
StartupNotify=false
StartupWMClass=tweelectron
Name[en_US]=tweelectron
