/* 2a2a2a 50% , #282828 10%, #2f2f2f 60%*/
body {
background: linear-gradient(141deg, #1b2836 50%, #1b2836 10%, #243447 60%) fixed;
margin-left: 5%;
color: white;
overflow: hidden;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
a {
  color: #478ffc;
  text-decoration: none;
}
h1{
  background: linear-gradient(141deg, #1b2836 50%, #1b2836 10%, #243447 60%);
  border-radius: 10px;
  width: 450px;
  text-align: center;
}
.about{
  background: linear-gradient(141deg, #1b2836 40%, #1b2836 10%, #243447 60%);
  border-radius: 10px;
  width: 450px;
  margin-top: 20px;
}
.header {
  text-align: center;
  background: linear-gradient(141deg, #1b2836 40%, #1b2836 10%, #243447 60%);
  width: 85%;
  border-radius: 10px;
  margin-left: inherit;
  color:inherit;
}
.form {
  background: linear-gradient(141deg, #1b2836 40%, #1b2836 10%, #243447 60%);
  width: 85%;
  border-radius: 10px;
  margin-left: inherit;
  text-align: left;
  color: inherit;
}
.button {
  background-color: #151f2a;
  color: inherit;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  margin-top: 8px;
  margin-left: 40%;
}
.button:hover {
  background-color: #14171a;
  border: none;
  color: inherit;
}
.button:focus {
  outline: none;
}
input, select{
  margin: 3px 0px;
}
input[type=text] {
  border: none;
  border-radius: 4px;
  width: 230px;
  padding: 1px 2px;
}
input[type=text]:focus {
  outline: none;
}
select {
  border: none;
  border-radius: 4px;
}

label {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  margin-top: 3px;
}
